* {
    font-family: 'Quicksand', sans-serif;
}
body {
    background-color: #EEEEEE;
}

nav {
    display: flex;
	padding: 0 6%;
	justify-content: space-between;
	align-items: center;

}

p {
    margin: 0;
    padding: 0;
}



.content-table {

    border-collapse: collapse;
    margin: 50px 50px;
    margin-left: auto;
    margin-right: auto;
    font-size: 0.9em;
    min-width: 400px;
    border-radius: 5px 5px 0 0;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.15);
}

.content-table thead tr {
    background-color: #A076F9;
    color:#fff;
    text-align:left;
    font-weight: bold;    
}

.content-table th, 
.content-table td {
    padding: 12px 15px;
    
} 

.content-table tbody tr {
    border-bottom: 1px solid #ddd;
}


.content-table tbody tr:last-of-type {
    border-bottom: 2px solid #A076F9;
}



.tin {
    width: 50px;
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.res {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    width: 100%;
}

.tbutton {
    padding: 5px;
    background: #A076F9;
    border-radius: 4px;
    text-decoration: none;
    box-shadow: 0 2px 5px rgba(0,0,0,0.2);
    border: none;
    color: #fff;
    height: 48px;
    width: 20%;
    margin: auto;
}

.gsc {
    display: flex;
    justify-content: space-around;
}

#gsc-table1 th {
    background-color: #5A96E3;
}

#gsc-table2 th {
    background-color: #3bb13b;
}

#gsc-table1 tr {
    text-align: center;
}


#gsc-table1 tbody tr:last-of-type {
    border-bottom: 2px solid #5A96E3;
}

#gsc-table2 td {
    font-weight: 600;
}

#gsc-table2 tbody tr:last-of-type {
    border-bottom: 2px solid #3bb13b;
}
.gsc-btn1 {
    display: flex;
}

.gsc-btn1 button {
    background-color: #5A96E3;
}

.ffp {
    padding: 12px;
    background-color: #A0BFE0;
    border-radius: 7px;
}

#final-result {
    color: #F11A7B;
}